.body {
<<<<<<< HEAD
   background:rgb(5, 5, 82);
 }
 
 .h1{
   font-size: 25px;
   font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
   font-weight: bold;
   color: rgb(226, 166, 0);
 }

 .p{
  font-size: 13px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-weight: bold;
  color:rgb(43, 226, 202);
 }

=======
   background: rgb(185, 76, 76);
    
}
>>>>>>> b3df12d15efeac811430f460de8054bd50083fd4
